.form {
  position: relative;

  padding: 10px 17px !important;
  margin: 15px 0 30px 0;

  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  background-color: #f7f7f7;
}

.fieldRoot {
  cursor: pointer !important;

  &:after,
  &:before {
    display: none;
  }
}

.addButton {
  margin-top: 15px !important;
}
